* {
  /* padding: 0; */
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
}

main.container-general {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0px;
}

.search {
  padding: 24px;
}

section.content {
  width: 75%;

  margin-left: 5%;
  padding: 10px;
}

.input-search {
  border-radius: 4px;
  border: 1px solid #cfcfcf;
  padding: 8px;
  outline: none;
}

.input-search::placeholder {
  color: #cfcfcf;
  text-align: center;
}

section.wrapped-content {
  background: #f5f5f5;
  width: 85%;
  height: 80%;
  display: flex;
}

.pagination-bar,
p,
span {
  font-size: 14px;
  font-weight: bold;
  margin-left: 12px;
}

.pagination-bar span {
  color: #0084ff;
}

.sort {
  display: flex;
  justify-content: end;
  margin-top: 50px;
  margin-right: 130px;
}

label.sort-by {
  margin-right: 10px;
}

p.red.alert {
  text-align: center;
  width: 100%;
}

.wrapped-search .sort .select-options {
  margin-left: 10px;
}

.select-options {
  border: 1px solid #cfcfcf;
  border-radius: 4px;
  outline: none;
  padding: 4px;
}

option {
  font-weight: bold;
  cursor: pointer;
}

.sort-by {
  font-size: 14px;
  font-weight: bold;
  margin-top: 5px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 210px;
  background-color: #fff;
  border-radius: 3px;
  /* box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2); */
  margin: 2rem;
  overflow: hidden;
}

.card:hover {
  transition: all 0.2s ease-out;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  top: -4px;
}

.card h2 {
  color: #0084ff;
}

.card img {
  width: 100%;
}

.card-info {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-bottom: 20px;
}

.card-info small {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-info i {
  font-size: 12px;
  margin-bottom: 10px;
}

hr {
  width: 80%;
}

.favorite-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
}

.favorite-container span {
  margin-left: 5px;
}

.heart-icon {
  color: #cfcfcf;
  background-color: #fff;
  border: 0.5px solid #cfcfcf;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.red {
  color: red;
}

.clock {
  color: #cfcfcf;
}

.clock span {
  color: black;
  font-size: 12px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 50px;
}

.number-page {
  color: rgb(0, 132, 255);
  width: 40px;
  height: 30px;
  border: 0.5px solid #cfcfcf;
  background-color: #fff;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* .active {
  background-color: rgb(0, 132, 255);
  color: #fff;
  width: 30px;
}

.number-page:hover {
  background-color: rgb(0, 132, 255);
  color: white;
} */

hr {
  margin-top: 8px;
}

button:hover {
  background-color: #92d1fa;
}

button.active {
  background-color: #92d1fa;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
}

button {
  width: 35px;
  height: 25px;
  appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #0084ff;
  margin: 1px;
  transition: 0.4s;
  color: #fff;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}
